* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
}
:root {
  --white: #fff;
  --black: #000;
  --lightBlack: #2c2c2c;
  --main: #ff6e68;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.col-2 {
  width: 16.33333333333333%;
}
.col-3 {
  width: 25%;
}
.col-6 {
  width: 50%;
}
.col-9 {
  width: 75%;
}
.mt-100 {
  margin-top: 100px;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/*=========== NAV=========== */

.nav {
  width: 100%;
  max-width: 100vw;
  height: 70px;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
}

.nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}
.nav__left {
  width: 70px;
}

.nav__left img {
  width: 100%;
  padding: 7px;
}

a {
  text-decoration: none;
}
.cart-icon {
  color: #95bf47;
  font-size: 22px;
}
.basket {
  position: relative;
}

.basket span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: var(--lightBlack);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;
}
.header {
  background: url("./images/img1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.product {
  width: 100%;
  padding: 25px;
  overflow: hidden;
}

.product__img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product__img img {
  width: 100%;
  height: 100%;
  transition: all 0.5 linear;
}

.product__img img:hover {
  transform: scale(1.1);
}

.product__name {
  margin: 10px 0;
  text-transform: capitalize;
  color: #707070;
}

.product__discount__price {
  /* float: right; */
  text-align: right;
  font-size: 18px;
}
.product__price .discount {
  color: silver;
  font-weight: 400;
  font-size: 19px;
}
.actualPrice {
  text-decoration: line-through;
  font-size: 18px;
}

/*=========== Details PAGE=========== */

.details__image {
  width: 100%;
  height: auto;
  padding-right: 30px;
}

.details__image img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.details__name {
  font-size: 28px;
  color: #2c2c2c;
  font-weight: 400;
  text-decoration: capitalize;
}
.details__prices {
  margin: 10px 0;
}
.details__actual {
  text-decoration: line-through;

  font-size: 20px;
}

.details__discount {
  margin-left: 20px;
  font-size: 20px;
}

.details__incDec {
  display: flex;
}

.dec,
.inc,
.quantity {
  width: 60px;
  height: 50px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity {
  border-left: none;
  border-right: none;
}
.inc,
.dec {
  cursor: pointer;
}

.btn-default {
  margin-left: 10px;
  width: 80%;
  border: none;
  background: var(--main);
  color: var(--white);
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.details__p {
  margin-top: 20px;
  text-align: left;
}

.details__p h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

/*=========== CART PAGE=========== */

.cart {
  margin-top: 100px;
}

.cart h3 {
  font-weight: 500;
}

.cart__heading {
  background: #f4f6f8;
  padding: 20px;
}

.cart__image img {
  width: 100px;
  height: 100px;

  object-fit: contain;
}

.v-align {
  align-items: center;
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

.cart__remove {
  cursor: pointer;
}

.summary {
  padding-left: 10px;
}

.summary__heading {
  background: #f4f6f8;
  padding: 20px;
}

.summary__details {
  background: var(--main);
  color: var(--white);
  padding: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.checkout {
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--white);
  width: 100%;
  padding: 12px 5px;
  font-size: 17px;
  text-transform: uppercase;
}
/* @media screen and (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .col-3 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
    text-align: center;
    padding: 5px;
    align-items: center;
  }
  .col-6 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }

  .header {
    display: none;
  }

  .cart__heading {
    display: none;
  }

  .details__image {
    padding-right: 0px;
  }
} */

@media screen and (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .col-3 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .col-6 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .details__image {
    padding-right: 0;
  }
  .cart__heading {
    display: none;
  }
  .summary-col {
    width: 100% !important;
  }
  .cart__incDec {
    display: flex;
    justify-content: center;
  }
  .cart h3 {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .header {
    display: none;
  }
  .col-3 {
    width: 100%;
  }
}
